<h3 class="m-1 mb-3">Акции</h3>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.dhresource.com/0x0/f2/albu/g9/M01/54/70/rBVaVV6VD5mAMV_SAAJTUhR4lFE663.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://franshiza.pedant.ru/assets/template/franchize/img/opengraph-fr.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://topfranchise.ru/upload/iblock/caa/giv8s0zr143fb8tn98s33cvgrn9uh6d9.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>