# Игнорируем папки и файлы с данными, которые не должны попадать в репозиторий

# Папка для инстанса (например, для файлов конфигурации или временных данных)
instance/*

# Папка для миграций базы данных
migrations/*

# Файл с переменными окружения
.env

# Виртуальное окружение Python
.venv/*
