/* Стили для прелоадера */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease; /* Плавное скрытие */
}

#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

.content {
  opacity: 0;
  transition: opacity 0.5s ease; /* Плавное появление */
}

.content.visible {
  opacity: 1;
}
.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 0.9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.toast-success {
  background-color: #4caf50; /* Зеленый для успешных действий */
}

.toast-error {
  background-color: #f44336; /* Красный для ошибок */
}
.card {
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.card-body-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-icon {
  font-size: 30px;
}
.card-title {
  font-weight: bold;
  font-size: 16px;
}
.container {
  margin-top: 30px;
}
@media (max-width: 576px) {
  .container {
    margin-top: 20px;
  }
}