<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <title>WebApp</title>
</head>
<style>
    * {
        font-family: 'Monserrat', sans-serif;
        font-weight: 200;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
        color: var(--tg-theme-text-color);
        background: var(--tg-theme-bg-color);
    }
</style>
<body>
    <h1>
        WEB APP INIT
    </h1>
    <script>
        let tg = window.Telegram.WepApp;
        document.getElementsByTagName('h1').value = initDataUnsafe.username
    </script>
</body>
</html>