{% extends "base.html" %}
{% block page_title %}Авторизация{% endblock %}

{% block content %} 
<!-- Контент страницы login здесь -->
  <div class="content container">
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body text-center">

                <h3 class="mb-5">Авторизация</h3>

                <form id="login-form">
                  
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control form-control-lg" required />
                    <label class="form-label" for="email">Email</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" required />
                    <label class="form-label" for="password">Пароль</label>
                  </div>

                  <button id="login-btn" class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
                  <a href="/register" class="d-flex justify-content-center navbar-brand mt-2 mt-lg-0">Нет аккаунта? Регистрация</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}
