{% extends "base.html" %}
{% block page_title %}Профиль{% endblock %}

{% block content %} 
<!-- Контент страницы login здесь -->
  <div class="content container">
    <section class="vh-100 p-2 py-3">
        <div class="container">
            <h2 class="text-center">Еще</h2>
        
            <div class="row mt-2">
              <!-- Первая карточка -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card" onclick="window.location.href='#'">
                    <div class="card-body-menu">
                        <i class="card-icon fas fa-user-circle"></i>
                        <div>
                          <h5 class="card-title">Аккаунт</h5>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                      </div>

                      <div class="card-body-menu">
                        <i class="card-icon fas fa-user-lock"></i>
                        <div>
                          <h5 class="card-title">Безопасность</h5>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                      </div>

                      <div class="card-body-menu">
                        <i class="card-icon fas fa-bell"></i>
                        <div>
                          <h5 class="card-title">Уведомления</h5>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                      </div>


                </div>
              </div>
        
              <!-- Шестая карточка -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card" onclick="window.location.href='#'">
                  <div class="card-body-menu">
                    <i class="card-icon fas fa-info-circle"></i>
                    <div>
                      <h5 class="card-title">О приложении</h5>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
  </div>
{% endblock %}
