{% extends "base.html" %}
{% block page_title %}Авторизация{% endblock %}

{% block content %} 
<!-- Контент страницы login здесь -->
  <div class="content container">
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <h3 class="mb-5">Регистрация</h3>

                <form id="register-form" method="post">
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="username" name="username" class="form-control form-control-lg" required />
                    <label class="form-label" for="username">Имя пользователя</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control form-control-lg" required />
                    <label class="form-label" for="email">Email</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" required />
                    <label class="form-label" for="password">Пароль</label>
                  </div>
                  <button id="register-btn" class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
                  <a href="/login" class="d-flex justify-content-center decoration-none navbar-brand mt-2 mt-lg-0">Есть аккаунт? Войти</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
