{% extends 'base.html' %}

{% block body %}

<!-- Content -->
<!-- Content -->
<div class="content mt-5">
    <!-- Balance -->
    <div class="telegram-card">
        <div class="telegram-card-header">
            Настройки
        </div>

        <div class="telegram-card-content">
            <form>
                <!-- Имя и Фамилия (с полным занятием ширины) -->
                <input type="text" class="form-input" placeholder="Имя">
                <input type="text" class="form-input" placeholder="Фамилия">

                <!-- Выпадающий список (select) -->
                <select class="form-select">
                    <option value="option1">Опция 1</option>
                    <option value="option2">Опция 2</option>
                    <option value="option3">Опция 3</option>
                </select>

                <!-- Свайп-туглер (чекбокс) -->
                <label>
                    <div class="toggle-checkbox">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </div>
                    Включить уведомления
                </label>
            </form>
        </div>

        <div class="telegram-card-footer">
            <!-- Можно добавить действия в футер -->
        </div>
    </div>
</div>

{% endblock body %}